/* Popover styling */

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 240px;
  width: 380px;
  bottom: 18px;
  left: 550px;
}

.popover__wrapper:hover .popover__content {
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s;
  height: 240px;
  width: 380px;
  bottom: 18px;
  left: 550px;
}
